.container.mt-5
  .row
    .col.col-md-4.offset-md-4
      %h1.mb-4= t("devise.sessions.sign_in")
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .mb-3
          = f.input :email,
            required: false,
            input_html: { autocomplete: "email", class: 'form-control' }
        .mb-3
          = f.input :password,
            required: false,
            input_html: { autocomplete: "current-password", class: 'form-control' }
        .mb-3.form-check
          = f.input :remember_me, label: t('devise.sessions.remember_me'), as: :boolean, input_html: { class: 'form-check-input' } if devise_mapping.rememberable?
        .mb-3
          = f.button :submit, t('devise.login'), class: 'btn btn-primary'
      = render "devise/shared/links"
